<div class="row">
    <div class="col-2">
        <h2>Palabra</h2>
    </div>
    <div class="col-1">
        <h2>Frecuencia</h2>
    </div>
    <div class="col-9">
        <h2>Tweets</h2>
    </div>
</div>
{% for word in frequency_words %}
<div class="row">
    <div class="col-2" id="word{{forloop.counter0}}">
        {{word.0}}
    </div>
    <div class="col-1">
        {{word.1}}
    </div>
    <div class="col-9">
        <ul>
        {% for tweet in word.2%}
        <li>
            {{tweet}}
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}